.button {
  margin: 24px 0;
  padding: 24px;

  border: 1px solid rgb(255, 255, 255);

  background: none;
  box-shadow: none;

  color: rgb(255, 255, 255);

  font-weight: 700;
  font-size: 24px;
  font-family: "Space Mono", monospace;

  cursor: pointer;
}